.contact {
  width: 100%;
}

.contact > .container {
  display: flex;
  flex-direction: column;
  padding: 1.875rem;
  max-width: 40.625rem;
}

.title {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.25rem  ;
}

.subtitle {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (min-width: 48rem) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.75rem;
}

.form .error {
  color: red;
  font-size: .75rem;
}

.form .button-component {
  margin-top: 1.25rem;
}

/* INFO CONTACT */
.info-contact {
  width: 100%;
}

.options {
  width: 100%;
  display: flex;
  margin-top: 1.5625rem;
}

.option-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .625rem;
  font-size: .75rem;
  font-family: var(--lato-font);
}

@media (min-width: 48rem) {
  .option-group span {
    font-size: 1rem;
  }

}

.location {
  width: 50%;
}

.phone {
  width: 50%;
}