.header {
  width: 100%;
}

.header > .container {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0;
}

.social {
  display: none;
}

.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .header > .container {
    height: 96px;
  }

  .menu {
    width: 40%;
    display: flex;
    gap: 1rem;
  }

  .menu a {
    display: flex;
    align-items: center;
    height: 2.5rem;
    color: var(--black);
    font-size: .875rem;
    line-height: 1.035rem;
    text-decoration: none;
    text-transform: uppercase;    
    border-bottom: 4px solid transparent;
    position: relative;
  }

  .menu a:hover {
    color: var(--black);
    border-bottom: 4px solid var(--primary);
  }

  .logo {
    justify-content: center;
    width: 30%;
  }

  .logo img {
    height: 2.625rem;
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    width: 40%;
    padding: 0;
  }
  
  .social li {
    list-style: none;
  }

  .menu-mobile {
    display: none;
  }
}

@media (min-width: 992px) {
  .menu {
    gap: 1.5rem;
  }

  .menu a {
    font-size: 1.125rem;
  }

  .logo img {
    height: 3.125rem;
  }
}