.input-custom-group {
  width: 100%;
  height: auto;
}

.input-custom-group label {
  font-size: .75rem;
  font-family: var(--lato-font);
  line-height: 1.875rem;
}

.text-input {
  width: inherit;
  height: 2rem;
  font-size: .75rem;
  font-family: var(--lato-font);
  padding: 0 1rem;
  border-radius: .5rem;
  border: 1px solid var(--black);
  margin-bottom: .5rem;
}